/* * {
  margin: 0;
  padding: 0;
} */

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: fadein 4s;
  -moz-animation: fadein 4s;
  -ms-animation: fadein 4s;
  -o-animation: fadein 4s;
  animation: fadein 4s;
}

.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}